/* GENERAL PAGE STYLES */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 36, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ffffff;
  text-align: center;
}

.intro {
  width: 90%;
  text-align: center;
  color: #ffffff;
}

.intro a {
  color: #ffffff;
}

/* PRICING TABLE STYLES */
.pricing-table {
  display: flex;
}

/* PRICE STYLES */
.price {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  border: 5px solid #ffffff;
  /* outline: 2px solid #699; */
  /* outline-offset: -5px; */
  /* border-style: double; */
  border-radius: 50%;
  padding: 1.25rem;
  text-align: center;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: #808181;
  width: 91px;
  height: 85px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(218, 219, 219, 1) 100%
  );
}

/* SIGN UP BUTTON STYLES */
.signup {
  color: white;
  font-weight: bold;
  font-size: small;
  background: rgb(14, 181, 55);
  background: linear-gradient(
    0deg,
    rgba(14, 181, 55, 1) 0%,
    rgba(18, 206, 64, 1) 100%
  );
  text-decoration: none;
  border-radius: 3px;
  padding: 0.5rem;
  box-shadow: 1px 1px grey;
  text-align: center;
  width: 5rem;
}

/* PLAN STYLES */
.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px #dadbdb;
  border-radius: 2.5%;
  height: 22rem;
  width: 12rem;
  background: linear-gradient(
    to bottom,
    rgba(215, 214, 214, 1) 0%,
    rgba(206, 202, 202, 1) 29%,
    rgba(255, 255, 255, 1) 30%
  );
  background-repeat: no-repeat;
  border: 1px solid #808181;
}

.plan ul {
  padding-left: 0;
  list-style-type: none;
  line-height: 2rem;
  font-size: small;
  text-align: center;
}

.plan ul li {
  border-top: 1px solid #dadbdb;
  color: #505151;
}

.plan h3 {
  color: #505151;
  margin-top: 12px;
  text-align: center;
}

.plan:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
